/*? ===================== css variable define */
:root{

    /* ------------------ color declaration */
    --mandarin-red: #E6533C;
    --white: #ffffff;
    --black: rgb(0, 0, 0);
    --white-op-0-1: rgba(255, 255, 255, 0.1);
    --white-op-0-5: rgba(255, 255, 255, 0.5);
    --white-op-6-5: rgba(255, 255, 255, 0.65);
    --black-out: #222222;
    --plunge-pool: rgba(6, 255, 210, 0.5);
    --red-op: rgba(255, 0, 0, 0.3);
    --black-op: rgba(0, 0, 0, 0.5);
    --black-gray: rgba(34, 34, 34);
    --black-op-5-4: rgba(48, 48, 48, 0.54);
    --light-green-op: rgba(66, 255, 0, 0.3);
    --blue-op: rgba(0, 71, 255, 0.3);

    /* ------------------ font family define */
    --inter: "Inter", sans-serif;
    --miama: "Miama";

    /* ------------------ font size define */
    --ft-9px: 0.5625rem;
    --ft-11px: 0.6875rem;
    --ft-12px: 0.75rem;
    --ft-13px: 0.8125rem;
    --ft-14px: 0.876rem;
    --ft-16px: 1rem;
    --ft-18px: 1.125rem;
    --ft-20px: 1.25rem;
    --ft-23px: 1.4375rem;
    --ft-24px: 1.5rem;
    --ft-28px: 1.75rem;
    --ft-30px: 1.875rem;
    --ft-32px: 2rem;
    --ft-36px: 2.25rem;
    --ft-40px: 2.5rem;
    --ft-48px: 3rem;
    --ft-70px: 4.375rem;
    --ft-78px: 4.875rem;
    --ft-160px: 10rem;

    /* ------------------ font weight define */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;

    /* ------------------ line height define */
    --lh-1px: 1px;
    --lh-17px: 17px;
    --lh-18px: 18px;
    --lh-20px: 20px;
    --lh-22px: 22px;
    --lh-24px: 24px;
    --lh-30px: 30px;
    --lh-40px: 40px;
    --lh-pre-120: 120%;

    /* ------------------ letter spacing define */
    --ls-0-3px: 0.3px;
    --ls-0-5px: 0.5px;
    --ls-0-23px: 0.23px;
    --ls-0-38px: 0.38px;
    --ls-0-75px: 0.75px;
    --ls-1px: 1px;

    /* ------------------ border radius define */
    --bor-ra-8px: 8px;
    --bor-ra-9px: 9px;
    --bor-ra-12px: 12px;
    --bor-ra-18px: 18px;
    --bor-ra-39px: 39px;
    --bor-ra-42px: 42px;
    --bor-ra-46px: 46px;
    --round: 50%;
    
    /* ------------------ border define */
    --bor-1px-op: 1px solid rgba(255, 255, 255, 0.1);
    --bor-2px-op: 2px solid rgba(255, 255, 255, 0.1);
    --bor-3px-op: 3px solid rgba(255, 255, 255, 0.1);
    --bor-1px-wt: 1px solid rgb(255, 255, 255);

    /* ------------------ back-drop filter define */
    --blur-20px: 20px;

}

/*? ===================== responsive design */
/* ----------------------- mobile device (max-width 576px) */
@media screen and (max-width: 576px){
    /* ===================== css reusable class */
    .container{
        padding: 0 20px;
    }

    .btn{
        font-size: var(--ft-11px);
    }

    .btn-primary{
        width: 169px;
        height: 54px;
        padding: 8px 20px;
    }

    .btn-secondary{
        width: 169px;
        height: 54px;
        padding: 8px 20px;
    }

    .section-text{
        font-size: var(--ft-32px);
    }

    /* ===================== header */
    .header-content{
        padding-top: 52px;
    }

    .header-content .navbar{
        display: none;
    }

    .header-content .mobile-menu{
        display: block;
    }

    .home-content{
        flex-direction: column;
        margin-top: 51px;
    }

    .home-content .home-details-bx{
        width: 100%;
    }

    .home-content .home-details-bx .home-details{
        width: 100%;
    }

    .home-content .home-details-bx .home-details .home-tx{
        font-size: var(--ft-36px);
    }

    .home-content .home-details-bx .home-details .home-tx .cursive{
        font-size: var(--ft-78px);
    }

    .home-content .home-details-bx .home-details .btn-bx{
        width: 100%;
    }

    .home-content .home-img-bx{
        max-width: 353px;
        width: 100%;
        margin-top: 48px;
    }

    .home-content .home-img-bx .img-bx{
        height: 480px;
        overflow: hidden;
    }
    
    .home-content .home-img-bx .img-bx .img{
        height: 588px;
    }

    .home-content .home-img-bx .card-bx-1{
        width: 143px;
        height: 75px;
        border-radius: var(--bor-ra-9px);
        top: 10%;
        right: -3%;
    }

    .home-content .home-img-bx .card-bx-1 .text-bx-1 .text-1{
        font-size: var(--ft-30px);
        line-height: var(--lh-30px);
        letter-spacing: var(--ls-0-75px);
    }

    .home-content .home-img-bx .card-bx-1 .text-bx-1 .para-1{
        font-size: var(--ft-9px);
    }

    .home-content .home-img-bx .card-bx-2{
        width: 150px;
        height: 72px;
        border-radius: var(--bor-ra-9px);
        bottom: 31%;
        left: -4%;
    }

    .home-content .home-img-bx .card-bx-2 .icon-bx{
        width: 30px;
        height: 30px;
    }

    .home-content .home-img-bx .card-bx-2 .text-bx-2 .text-2{
        font-size: var(--ft-18px);
        line-height: var(--lh-18px);
        letter-spacing: var(--ls-0-23px);
    }

    .home-content .home-img-bx .card-bx-2 .text-bx-2 .para-2{
        font-size: var(--ft-12px);
        line-height: var(--lh-18px);
        letter-spacing: var(--ls-0-38px);
    }

    /* ===================== main */

    /* ===================== habit section */
    .section-heading-content .section-bx{
        margin-top: 20px;
    }
    /* ===================== habit section */

    /* ===================== run extra section */
    .run-extra-content{
        flex-direction: column;
        gap: 30px;
        margin: 20px 0 50px;
    }

    .run-extra-content .run-extra-details-bx{
        margin-left: 0;
    }

    .run-extra-content .run-extra-details-bx .run-extra-tx{
        font-size: var(--ft-32px);
    }

    .run-extra-content .run-extra-details-bx .btn-bx .btn{
        font-size: var(--ft-18px);
    }

    .run-extra-content .run-extra-details-bx .btn-bx .btn-primary{
        width: 100%;
    }

    .run-extra-content .run-extra-img{
        width: 100%;
        height: 170px;
        background-position: center;
        background-size: cover;
    }
    /* ===================== run extra section */

    /*! ===================== bodybuilders section (challenging extra part) */
    .bodybuilder-offer-section{
        background-position: 65%;
    }

    .bodybuilder-offer-container{
        max-width: 100%;
        width: 500px;
        flex-direction: column-reverse;
        gap: 35px;
    }

    .bodybuilder-offer-container .bodybuilder-card-container{
        grid-template-columns: repeat(1, 1fr);
    }
    
    /*! ===================== bodybuilders section (challenging extra part) */

    /* ===================== training & exercises section */
    .training-exercises-content .section-bx{
        margin-top: 20px;
    }

    .training-exercises-card-container{
        margin: 50px;
    }

    .training-exercises-card-container .card-content-bx{
        min-height: 150px;
    }

    .training-exercises-card-container #bx-1{
        grid-column: span 6;
        background-position: 50% 50%;
        background-size: 260px;
    }

    .training-exercises-card-container #bx-2{
        background-position: 80% 35%;
        background-size: 485px;
    }

    .training-exercises-card-container #bx-3{
        display: none;
    }

    .training-exercises-card-container #bx-4{
        grid-column: span 5;
        background-position: 30% 0%;
        background-size: 450px;
    }

    .training-exercises-card-container #bx-5{
        grid-column: span 7;
        background-position: 80% 50%;
        background-size: 322px;
    }

    .training-exercises-card-container #bx-6{
        display: none;
    }

    .training-exercises-card-container .overlay-tx-bx .para-4{
        bottom: 25px;
        left: 25px;
    }
    /* ===================== training & exercises section */

    /* ===================== footer */
}

/* ----------------------- tablet device (max-width 992px) */
 @media screen and (min-width: 576px) and (max-width: 992px){
    /* ===================== css reusable class */

    /* ===================== header */
    .header-content .navbar .nav-items{
        gap: 10px;
    }

    .header-content .navbar .nav-items .nav-list{
        font-size: var(--ft-14px);
    }

    .home-content{
        margin-top: 75px;
        flex-direction: column;
    }

    .home-content .home-details-bx{
        width: 100%;
        margin-bottom: 50px;
    }

    .home-content .home-details-bx .home-details{
        width: 100%;
    }

    .home-content .home-img-bx{
        max-width: 434px;
        width: 100%;
        margin-top: 48px;
    }
    
    .home-content .home-img-bx .card-bx-1{
        top: 10%;
        right: 0%;
    }

    .home-content .home-img-bx .card-bx-2{
        bottom: 26%;
        left: -3%;
    }

    /* ===================== main */

    /* ===================== habit section */
    .section-heading-content .section-bx{
        width: 474px;
    }
    
    .habit-card-container .card-bx{
        max-width: 280px;
        width: 231px;
    }
    /* ===================== habit section */

    /* ===================== run extra section */
    .run-extra-content{
        margin: 40px 0 50px;
        gap: 28px;
    }

    .run-extra-content .run-extra-details-bx{
        margin-left: 14px;
    }

    .run-extra-content .run-extra-details-bx .run-extra-tx{
        font-size: var(--ft-36px);
    }

    .run-extra-content .run-extra-img{
        max-width: 100%;
        height: 319px;
        margin-right: 10px;
        background-size: 1000px;
    }
    /* ===================== run extra section */

    /*! ===================== bodybuilders section (challenging extra part) */
    .bodybuilder-offer-section{
        background-position: 65%;
    }

    .bodybuilder-offer-container{
        max-width: 100%;
        width: 500px;
        flex-direction: column-reverse;
        gap: 35px;
    }
    /*! ===================== bodybuilders section (challenging extra part) */

    /* ===================== training exercises section */
    .training-exercises-card-container #bx-4{
        background-position: 5% 50%;
        background-size: 430px;
    }

    .training-exercises-card-container .overlay-tx-bx .para-4{
        top: 158px;
        left: 25px;
    }

    .training-exercises-card-container .overlay-tx-bx .para-6{
        top: 159px;
        color: var(--white);
    }
    /* ===================== training exercises section */

    /* ===================== footer */
} 
/*? ===================== responsive design */