/*? ===================== google font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*? ===================== universal css resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: var(--inter);
}

*::selection{
    background-color: #ff6363;
}

/*? ===================== font import */
@font-face {
    font-family: "Miama";
    src: url("../font/Miama.ttf");
}

/*? ===================== css variable define */
:root{

    /* ------------------ color declaration */
    --mandarin-red: #E6533C;
    --white: #ffffff;
    --black: rgb(0, 0, 0);
    --white-op-0-1: rgba(255, 255, 255, 0.1);
    --white-op-0-5: rgba(255, 255, 255, 0.5);
    --white-op-0-6: rgba(255, 255, 255, 0.6);
    --white-op-6-5: rgba(255, 255, 255, 0.65);
    --black-out: #222222;
    --plunge-pool: rgba(6, 255, 210, 0.5);
    --red-op: rgba(255, 0, 0, 0.3);
    --black-op: rgba(0, 0, 0, 0.5);
    --black-gray: rgba(34, 34, 34);
    --black-op-5-4: rgba(48, 48, 48, 0.54);
    --light-green-op: rgba(66, 255, 0, 0.3);
    --blue-op: rgba(0, 71, 255, 0.3);

    /* ------------------ font family define */
    --miama: "Miama";

    /* ------------------ font size define */
    --ft-13px: 0.8125rem;
    --ft-14px: 0.876rem;
    --ft-16px: 1rem;
    --ft-18px: 1.125rem;
    --ft-20px: 1.25rem;
    --ft-23px: 1.4375rem;
    --ft-24px: 1.5rem;
    --ft-28px: 1.75rem;
    --ft-32px: 2rem;
    --ft-36px: 2.25rem;
    --ft-40px: 2.5rem;
    --ft-48px: 3rem;
    --ft-70px: 4.375rem;
    --ft-78px: 4.875rem;
    --ft-160px: 10rem;

    /* ------------------ font weight define */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;

    /* ------------------ line height define */
    --lh-1px: 1px;
    --lh-17px: 17px;
    --lh-18px: 18px;
    --lh-20px: 20px;
    --lh-22px: 22px;
    --lh-24px: 24px;
    --lh-40px: 40px;
    --lh-pre-120: 120%;

    /* ------------------ letter spacing define */
    --ls-0-3px: 0.3px;
    --ls-0-5px: 0.5px;
    --ls-1px: 1px;

    /* ------------------ border radius define */
    --bor-ra-8px: 8px;
    --bor-ra-12px: 12px;
    --bor-ra-18px: 18px;
    --bor-ra-39px: 39px;
    --bor-ra-42px: 42px;
    --bor-ra-46px: 46px;
    --round: 50%;
    
    /* ------------------ border define */
    --bor-1px-op: 1px solid rgba(255, 255, 255, 0.1);
    --bor-2px-op: 2px solid rgba(255, 255, 255, 0.1);
    --bor-3px-op: 3px solid rgba(255, 255, 255, 0.1);
    --bor-1px-wt: 1px solid rgb(255, 255, 255);

}

/*? ===================== css reusable class */
.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    font-size: var(--ft-18px);
    font-weight: var(--fw-600);
    line-height: var(--lh-22px);
    color: var(--white);
}


.btn-primary{
    width: 224px;
    padding: 16px 40px;
    border-radius: var(--bor-ra-42px);
    border: 1px solid var(--mandarin-red);
    background-color: var(--mandarin-red);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-primary:hover{
    background: none;
    color: var(--mandarin-red);
}

.btn-secondary{
    width: 224px;
    padding: 16px 40px;
    border: 1px solid var(--white);
    border-radius: var(--bor-ra-42px);
    background: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover{
    background-color: var(--white);
    color: var(--black);
}

.section-text{
    font-size: var(--ft-48px);
    font-weight: var(--fw-900);
    line-height: var(--lh-pre-120);
    color: var(--white);
    margin-bottom: 14px;
}

.section-para{
    font-size: var(--ft-14px);
    font-weight: var(--fw-400);
    line-height: var(--lh-24px);
    letter-spacing: var(--ls-0-3px);
    color: var(--white-op-0-5);
}

/*? ===================== header  */
#header{
    width: 100%;
    min-height: 20vh;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgb(34, 34, 34), rgb(10, 10, 10));
}

.header-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 57px;
}

.header-content .logo{
    font-size: var(--ft-36px);
    font-weight: var(--fw-800);
    font-style: italic;
    color: var(--mandarin-red);
    text-transform: capitalize;
}

.header-content .navbar .nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 47px;
    border: var(--bor-1px-op);
    border-radius: var(--bor-ra-39px);
    padding: 4px;
}

.header-content .navbar .nav-items .nav-list{
    font-size: var(--ft-18px);
    font-weight: var(--fw-600);
    line-height: var(--lh-22px);
    text-transform: capitalize;
}

.header-content .navbar .nav-items .nav-list .nav-link{
    display: inline-block;
    padding: 8px 20px;
    color: var(--white);
    border-radius: var(--bor-ra-46px);
    transition: background-color 0.2s ease;
}

.header-content .navbar .nav-items .nav-list .nav-link.active{
    background-color: var(--mandarin-red);
}

.header-content .navbar .nav-items .nav-list .nav-link:hover{
    background-color: var(--mandarin-red);
}

.header-content .mobile-menu{
    display: none;
}

.header-content .mobile-menu .mobile-icon{
    font-size: var(--ft-28px);
    color: var(--white);
}

.home-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.home-content .home-details-bx .home-details{
    width: 520px;
}

.home-content .home-details-bx .home-details .home-tx{
    font-size: var(--ft-78px);
    font-weight: var(--fw-900);
    line-height: var(--lh-pre-120);
    color: var(--white);
    margin-bottom: 28px;
}

.home-content .home-details-bx .home-details .home-tx .cursive{
    font-family: var(--miama);
    font-size: var(--ft-160px);
    font-weight: var(--fw-400);
}

.home-content .home-details-bx .home-details .home-para{
    max-width: 100%;
    font-size: var(--ft-16px);
    font-weight: var(--fw-400);
    line-height: var(--lh-24px);
    letter-spacing: var(--ls-0-5px);
    margin-bottom: 28px;
    color: var(--white-op-0-5);
}

.home-content .home-details-bx .btn-bx{
    display: flex;
    gap: 14px;
}

.home-content .home-img-bx{
    width: 480px;
    height: 100%;
    margin-top: 32px;
    position: relative;
}

.home-content .home-img-bx .img-bx{
    width: 100%;
    height: 808px;
    overflow: hidden;
}

.home-content .home-img-bx .img-bx .img{
    width: 100%;
    height: 100%;
}

.home-content .home-img-bx .card-bx-1{
    width: 193px;
    height: 98px;
    background-color: var(--white-op-0-1);
    border-radius: var(--bor-ra-12px);
    border: var(--bor-1px-op);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 26%;
    right: -5%;
}

.home-content .home-img-bx .card-bx-1 .text-bx-1 .text-1{
    font-size: var(--ft-40px);
    font-weight: var(--fw-900);
    line-height: var(--lh-40px);
    letter-spacing: var(--ls-1px);
    color: var(--white);
    margin-bottom: 5px;
}

.home-content .home-img-bx .card-bx-1 .text-bx-1 .para-1{
    font-size: var(--ft-13px);
    font-weight: var(--fw-400);
    line-height: var(--lh-20px);
    letter-spacing: var(--ls-1px);
    color: var(--white-op-6-5);
}

.home-content .home-img-bx .card-bx-2{
    width: 206px;
    height: 96px;
    background-color: var(--black-op-5-4);
    border: var(--bor-1px-op);
    border-radius: var(--bor-ra-12px);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: absolute;
    bottom: 11%;
    left: -16%;
}

.home-content .home-img-bx .card-bx-2 .icon-bx{
    width: 40px;
    height: 40px;
    background-color: var(--mandarin-red);
    border-radius: var(--round);
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content .home-img-bx .card-bx-2 .icon-bx .play-icon{
    font-size: var(--ft-24px);
    color: var(--white);
}

.home-content .home-img-bx .card-bx-2 .text-bx-2 .text-2{
    font-size: var(--ft-24px);
    font-weight: var(--fw-900);
    line-height: var(--lh-24px);
    letter-spacing: var(--ls-0-3px);
    margin-bottom: 8px;
    color: var(--white);
}

.home-content .home-img-bx .card-bx-2 .text-bx-2 .para-2{
    font-size: var(--ft-16px);
    font-weight: var(--fw-400);
    line-height: var(--lh-24px);
    letter-spacing: var(--ls-0-5px);
    color: var(--white-op-6-5);
}

/*? ===================== main  */
#main{
    width: 100%;
    background-color: var(--black);
}

/* ====================== habit section */
.habit-section{
    width: 100%;
    min-height: 20vh;
}

.section-heading-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-heading-content .section-bx{
    max-width: 670px;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.habit-card-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    margin: 58px;

}

.habit-card-container .card-bx{
    width: 280px;
    height: 274px;
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: column;
}

.habit-card-container .card-bx .img-bx{
    border: var(--bor-2px-op);
    border-radius: var(--round);
    overflow: hidden;
}

.habit-card-container .card-bx .card-details-bx{
    width: 231px;
    text-align: center;
}

.habit-card-container .card-bx .card-details-bx .card-tx{
    font-size: var(--ft-18px);
    font-weight: var(--fw-600);
    color: var(--white);
    margin-bottom: 6px;
}

.habit-card-container .card-bx .card-details-bx .card-para{
    font-size: var(--ft-14px);
    font-weight: var(--fw-400);
    line-height: var(--lh-18px);
    letter-spacing: var(--ls-0-3px);
    color: var(--white-op-0-5);
}
/* ====================== habit section */

/* ====================== run extra section */
.run-extra-section{
    width: 100%;
    min-height: 20vh;
}

.run-extra-content{
    width: 100%;
    background-color: var(--black-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin: 100px;
    padding: 30px;
    border-radius: var(--bor-ra-18px);
}

.run-extra-content .run-extra-details-bx{
    max-width: 443px;
    width: 100%;
    margin-left: 24px;
}

.run-extra-content .run-extra-details-bx .run-extra-tx{
    font-size: var(--ft-48px);
    font-weight: var(--fw-900);
    line-height: var(--lh-pre-120);
    color: var(--white);
    margin-bottom: 14px;
}

.run-extra-content .run-extra-details-bx .run-extra-para{
    font-size: var(--ft-14px);
    font-weight: var(--fw-400);
    line-height: var(--lh-24px);
    letter-spacing: var(--ls-0-3px);
    color: var(--white-op-0-5);
    margin-bottom: 34px;
}

.run-extra-content .run-extra-img{
    max-width: 100%;
    width: 366px;
    height: 312px;
    background-image: url("../assets/run-img/run.jpg");
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position-x: 69%;
    background-position-y: 30%;
    border-radius: var(--bor-ra-18px);
    overflow: hidden;
}

/* ====================== run extra section */

/*! ====================== body builder section (challenging extra part) */
.bodybuilder-offer-section{
    width: 100%;
    min-height: 20vh;
    background-image: url("../assets/body-builder-offer-img/body-builder.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: #2b2b2b;
    background-blend-mode: overlay;
}

.bodybuilder-offer-content{
    width: 100%;
    margin-top: 40px;
}

.bodybuilder-offer-content .section-bx{
    max-width: 670px;
    width: 100%;
}

.bodybuilder-offer-container{
    width: 100%;
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.bodybuilder-offer-container .bodybuilder-offer-rate-bx{
    max-width: 100%;
    width: 520px;
    min-height: 622px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: var(--bor-ra-18px);
    border: var(--bor-1px-op);
    padding: 25px;
}

.bodybuilder-offer-container .bodybuilder-offer-rate-bx .rate-bx-container .rate-bx{
    border: var(--bor-2px-op);
    padding: 15px;
    border-radius: var(--bor-ra-8px);
    margin-bottom: 20px;
}

.bodybuilder-offer-container .bodybuilder-offer-rate-bx .rate-bx-container .rate-bx .rate-text-bx{
    margin-bottom: 15px;
}

.bodybuilder-offer-container .bodybuilder-offer-rate-bx .rate-bx-container .rate-bx .rate-text-bx .rate-text{
    color: var(--white-op-0-5);
    margin-bottom: 5px;
}

.bodybuilder-offer-container .bodybuilder-offer-rate-bx .rate-bx-container .rate-bx .rate-text-bx .rate-para{
    color: var(--white-op-6-5);
}

.bodybuilder-offer-container .bodybuilder-offer-rate-bx .rate-bx-container .rate-bx .rate-list-bx .rate-tx-bx{
    width: 100%;
    display: flex;
    align-items: center;
}

.bodybuilder-offer-container .bodybuilder-offer-rate-bx .rate-bx-container .rate-bx .rate-list-bx .rate-tx-bx .check-icon{
    font-size: var(--ft-18px);
    color: var(--white-op-0-5);
    background-color: #E6533C;
    border-radius: var(--round);
}

.bodybuilder-offer-container .bodybuilder-offer-rate-bx .rate-bx-container .rate-bx .rate-list-bx .rate-tx-bx .rate-list-para{
    font-size: var(--ft-14px);
    font-weight: var(--fw-400);
    line-height: var(--lh-22px);
    margin-left: 10px;
    color: var(--white-op-0-5);
    margin-bottom: 5px;
}

.bodybuilder-offer-container .bodybuilder-offer-rate-bx .btn-bx .btn-primary{
    width: 100%;
    border-radius: var(--bor-ra-8px);
    margin-top: 0px;
}

.bodybuilder-offer-container .bodybuilder-card-container{
    max-width: 100%;
    width: 600px;
    min-height: 622px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(20px);
    border-radius: var(--bor-ra-12px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
    padding: 20px;
}

.bodybuilder-offer-container .bodybuilder-card-container .card-bx{
    max-width: 100%;
    height: 272px;
    border-radius: var(--bor-ra-12px);
    overflow: hidden;
}

.bodybuilder-offer-container .bodybuilder-card-container .card-bx .body-img{
    width: 100%;
    object-fit: contain;
}
/*! ====================== body builder section (challenging extra part) */

/* ====================== training-exercises section*/
.training-exercises-section{
    width: 100%;
    min-height: 20vh;
}

.training-exercises-content{
    width: 100%;
}

.training-exercises-content .section-bx{
    max-width: 670px;
    width: 100%;
    margin-top: 60px;
}

.training-exercises-card-container{
    width: 100%;
    margin: 70px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.training-exercises-card-container .card-content-bx{
    min-height: 200px;
}

.training-exercises-card-container #bx-1{
    grid-column: span 3;
    background-image: url("../assets/training-img/training-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.training-exercises-card-container #bx-2{
    grid-column: span 6;
    background-image: url("../assets/training-img/training-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.training-exercises-card-container #bx-3{
    grid-column: span 3;
    background-image: url("../assets/training-img/training-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.training-exercises-card-container #bx-4{
    grid-column: span 4;
    background-image: url("../assets/training-img/training-4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.training-exercises-card-container #bx-5{
    grid-column: span 4;
    background-image: url("../assets/training-img/training-5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.training-exercises-card-container #bx-6{
    grid-column: span 4;
    background-image: url("../assets/training-img/training-6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.training-exercises-card-container .bx-1{
    height: 100%;
    background-color: var(--plunge-pool);
}

.training-exercises-card-container .bx-2{
    height: 100%;
    background-color: var(--red-op);
}

.training-exercises-card-container .bx-3{
    height: 100%;
    background-color: var(--black-op);
}

.training-exercises-card-container .bx-4{
    height: 100%;
    background-color: var(--black-op);
}

.training-exercises-card-container .bx-5{
    height: 100%;
    background-color: var(--light-green-op);
}

.training-exercises-card-container .bx-6{
    height: 100%;
    background-color: var(--blue-op);
}

.training-exercises-card-container .overlay-tx-bx{
    position: relative;
}

.training-exercises-card-container .overlay-tx-bx .overlay-para{
    font-size: var(--ft-14px);
    font-weight: var(--fw-500);
    line-height: var(--lh-17px);
    color: var(--white);
}

.training-exercises-card-container .overlay-tx-bx .para-1{
    position: absolute;
    left: 25px;
    bottom: 25px;
    color: var(--black);
}

.training-exercises-card-container .overlay-tx-bx .para-2{
    position: absolute;
    top: 25px;
    left: 25px;
}

.training-exercises-card-container .overlay-tx-bx .para-3{
    position: absolute;
    left: 25px;
    bottom: 25px;
}

.training-exercises-card-container .overlay-tx-bx .para-4{
    position: absolute;
    top: 25px;
    right: 25px;
}

.training-exercises-card-container .overlay-tx-bx .para-5{
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.training-exercises-card-container .overlay-tx-bx .para-6{
    position: absolute;
    top: 25px;
    left: 25px;
    color: var(--black);
}
/* ====================== training-exercises section*/

/* ====================== bmi section*/
.bmi-calc-section{
    width: 100%;
    min-height: 20vh;
}

.bmi-calc-content-bx{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.bmi-calc-content .section-bx{
    max-width: 670px;
    width: 100%;
    margin-top: 60px;
}

.bmi-calc-container{
    width: 100%;
    height: auto;
    background-color: var(--black-gray);
    margin-top: 80px;
    padding: 50px 0;
}

.bmi-calc-container .bmi-calc-content-bx{
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
}

.bmi-calc-container .bmi-calc-content-bx .bmi-table-bx{
    max-width: 450px;
    width: 100%;
    height: 400px;
}

.bmi-calc-container .bmi-calc-content-bx .bmi-table-bx .table-bx-content .table-bx,
.bmi-calc-container .bmi-calc-content-bx .bmi-table-bx .table-bx-content .table-row,
.bmi-calc-container .bmi-calc-content-bx .bmi-table-bx .table-bx-content .table-head,
.bmi-calc-container .bmi-calc-content-bx .bmi-table-bx .table-bx-content .table-data{
    border: var(--bor-1px-op);
    border-collapse: collapse;
}

.bmi-calc-container .bmi-calc-content-bx .bmi-table-bx .bmi-table-tx{
    font-size: var(--ft-28px);
    font-weight: var(--fw-900);
    line-height: var(--lh-pre-120);
    color: var(--white);
    margin-bottom: 50px;
}

.bmi-calc-container .bmi-calc-content-bx .bmi-table-bx .table-bx-content .table-bx{
    max-width: 310px;
    width: 100%;
}

.bmi-calc-container .bmi-calc-content-bx .bmi-table-bx .table-bx-content .table-bx .table-row .table-head{
    padding: 15px 18px;
}

.bmi-calc-container .bmi-calc-content-bx .bmi-table-bx .table-bx-content .table-bx .table-row .table-head .table-hd-tx{
    font-size: var(--ft-16px);
    font-weight: var(--fw-500);
    color: var(--white);
}

.bmi-calc-container .bmi-calc-content-bx .bmi-table-bx .table-bx-content .table-bx .table-row .table-head .tx-1{
    text-align: left;
}

.bmi-calc-container .bmi-calc-content-bx .bmi-table-bx .table-bx-content .table-bx .table-row .table-dt-tx{
    font-size: var(--ft-14px);
    font-weight: var(--fw-400);
    color: var(--white-op-0-5);
    padding: 13px 18px;
}

.bmi-calc-container .bmi-calc-content-bx .bmi-table-bx .table-bx-content .table-bx .table-row .table-tx{
    padding-left: 24px;
}

.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx{
    max-width: 577px;
    width: 100%;
    height: 400px;
}

.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx .bmi-calc-tx-bx{
    width: 100%;
}

.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx .bmi-calc-tx-bx .bmi-calc-tx{
    font-size: var(--ft-28px);
    font-weight: var(--fw-900);
    color: var(--white);
    margin-bottom: 14px;
}

.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx .bmi-calc-tx-bx .bmi-calc-para{
    font-size: var(--ft-14px);
    font-weight: var(--fw-400);
    line-height: var(--lh-24px);
    letter-spacing: var(--ls-0-3px);
    color: var(--white-op-0-5);
    margin-bottom: 34px;
}

.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx .form-bx{
    width: 100%;
}

.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx .form-bx .input-bx-field-1,
.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx .form-bx .input-bx-field-2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 12px;
}

.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx .form-bx .input-bx-field-1 .input-bx-1,
.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx .form-bx .input-bx-field-1 .input-bx-2,
.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx .form-bx .input-bx-field-2 .input-bx-3{
    width: 50%;
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: var(--bor-ra-8px);
    background-color: var(--white-op-0-1);
    font-size: var(--ft-16px);
    font-weight: var(--fw-400);
    line-height: var(--lh-22px);
    color: var(--white-op-0-6);
}

.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx .form-bx .input-bx-field-1 .input-bx-1::placeholder,
.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx .form-bx .input-bx-field-1 .input-bx-2::placeholder,
.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx .form-bx .input-bx-field-2 .input-bx-3::placeholder{
    color: var(--white-op-0-6);
}

.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx .form-bx .input-bx-field-2,
.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx .form-bx .input-bx-field-3{
    position: relative;
}

.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx .form-bx .input-bx-field-2 .select-bx-1{
    width: 50%;
    padding: 15px 20px;
    appearance: none;
    font-size: var(--ft-16px);
    font-weight: var(--fw-400);
    line-height: var(--lh-22px);
    border: none;
    border-radius: var(--bor-ra-8px);
    outline: none;
    background-color: var(--white-op-0-1);
    color: var(--white-op-0-6);
    cursor: pointer;
}

.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx .form-bx .input-bx-field-2 .select-bx-1 > .select-op{
    color: var(--white-op-0-6);
    background-color: var(--black-gray);
}

.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx .form-bx .input-bx-field-2 .select-icon-bx-1{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white-op-0-6);
    pointer-events: none;
}

.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx .form-bx .input-bx-field-2 .select-icon-bx-1 .select-down-icon-1{
    font-size: var(--ft-24px);
}

.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx .form-bx .input-bx-field-3 .select-bx-2{
    width: 100%;
    padding: 15px 20px;
    appearance: none;
    font-size: var(--ft-16px);
    font-weight: var(--fw-400);
    line-height: var(--lh-22px);
    border: none;
    border-radius: var(--bor-ra-8px);
    outline: none;
    background-color: var(--white-op-0-1);
    color: var(--white-op-0-6);
    cursor: pointer;
    margin-bottom: 34px;
}

.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx .form-bx .input-bx-field-3 .select-bx-2 > .select-op{
    color: var(--white-op-0-6);
    background-color: var(--black-gray);
}

.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx .form-bx .input-bx-field-3 .select-icon-bx-2{
    position: absolute;
    right: 15px;
    top: 20%;
    transform: translateY(-50%);
    color: var(--white-op-0-6);
    pointer-events: none;
}

.bmi-calc-container .bmi-calc-content-bx .bmi-calc-bx .form-bx .input-bx-field-3 .select-icon-bx-2 .select-down-icon-2{
    font-size: var(--ft-24px);
}
/* ====================== bmi section*/

/* ====================== meet our team section*/
.meet-our-team-section{
    width: 100%;
    min-height: 20vh;
}

.meet-our-team-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meet-our-team-content .section-bx{
    max-width: 670px;
    width: 100%;
    text-align: center;
    margin-top: 88px;
}

.meet-our-team-trainer-container{
    width: 100%;
    min-height: 564px;
    background-color: var(--white-op-0-1);
    border-radius: var(--bor-ra-18px);
    padding: 20px;
    margin: 58px 0 88px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.meet-our-team-trainer-container .trainer-bx{
    width: 100%;
    height: 300px;
    border-radius: var(--bor-ra-18px);
    background-color: #ff6363;
    cursor: pointer;
    overflow: hidden;
}

.meet-our-team-trainer-container .img-bx-1{
    background-image: url("../assets/team-img/team-1.png");
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

.meet-our-team-trainer-container .img-bx-2{
    background-image: url("../assets/team-img/team-2.png");
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
}

.meet-our-team-trainer-container .img-bx-3{
    background-image: url("../assets/team-img/team-3.png");
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

.meet-our-team-trainer-container .img-bx-4{
    background-image: url("../assets/team-img/team-4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.meet-our-team-trainer-container .img-bx-5{
    background-image: url("../assets/team-img/team-5.png");
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: cover;
}

.meet-our-team-trainer-container .img-bx-6{
    background-image: url("../assets/team-img/team-6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.meet-our-team-trainer-container .trainer-bx .overlay-bx{
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.315);
    position: relative;
}

.meet-our-team-trainer-container .trainer-bx .overlay-bx .overlay-tx-bx{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.meet-our-team-trainer-container .trainer-bx .overlay-tx-bx .trainer-name{
    font-size: var(--ft-23px);
    font-weight: var(--fw-800);
    line-height: var(--lh-24px);
    letter-spacing: var(--ls-0-3px);
    color: var(--white);
    margin-bottom: 5px;
}

.meet-our-team-trainer-container .trainer-bx .overlay-tx-bx .trainer-para-tx{
    font-size: var(--ft-16px);
    font-weight: var(--fw-400);
    color: var(--white-op-0-5);
}
/* ====================== meet our team section*/

/*? ===================== footer  */
#footer{
    width: 100%;
    background-color: var(--black-gray);
}

.footer{
    width: 100%;
}

.footer .footer-content-container{
    width: 100%;
    min-height: 250px;
    margin: 66px 0 80px 0;
    display: flex;
    justify-content: space-between;
    gap: 75px;
}

.footer .footer-content-container .footer-brand-content{
    max-width: 445px;
    width: 100%;
}

.footer .footer-content-container .footer-brand-content .footer-brand{
    font-size: var(--ft-70px);
    font-weight: var(--fw-800);
    font-style: italic;
    line-height: var(--lh-pre-120);
    color: var(--mandarin-red);
    margin-bottom: 20px;
}

.footer .footer-content-container .footer-brand-content .footer-para{
    font-size: var(--ft-14px);
    font-weight: var(--fw-400);
    line-height: var(--lh-24px);
    letter-spacing: var(--ls-0-3px);
    color: var(--white-op-0-5);
}

.footer .footer-content-container .footer-navigation-content{
    max-width: 515px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.footer .footer-content-container .footer-navigation-content .navigate{
    max-width: 180px;
    width: 100%;
}

.footer .footer-content-container .footer-navigation-content .navigate .navigate-tx{
    font-size: var(--ft-32px);
    font-weight: var(--fw-700);
    margin-bottom: 40px;
    color: var(--white);
}

.footer .footer-content-container .footer-navigation-content .navigate .footer-nav-items .footer-nav-list{
    font-size: var(--ft-23px);
    font-weight: var(--fw-400);
    margin-bottom: 20px;
    position: relative;
}

.footer .footer-content-container .footer-navigation-content .navigate .footer-nav-items .footer-nav-list::before{
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--white);
    position: absolute;
    bottom: -5px;
    transition: width 0.2s ease;
}

.footer .footer-content-container .footer-navigation-content .navigate .footer-nav-items .footer-nav-list:hover::before{
    width: 20%;
}

.footer .footer-content-container .footer-navigation-content .navigate .footer-nav-items .footer-nav-list .footer-nav-link{
    color: var(--white-op-0-5);
    transition: color 0.2s ease;
}

.footer .footer-content-container .footer-navigation-content .navigate .footer-nav-items .footer-nav-list .footer-nav-link:hover{
    color: var(--white);
}

.footer .footer-copyright-message{
    width: 100%;
    text-align: center;
}

.footer .footer-copyright-message .border-line{
    width: 100%;
    height: 2px;
    background-color: var(--white-op-0-1);
}

.footer .footer-copyright-message .copyright-text{
    font-size: var(--ft-20px);
    font-weight: var(--fw-400);
    line-height: var(--lh-24px);
    letter-spacing: var(--ls-0-3px);
    color: var(--white-op-0-1);
    margin: 35px 0;
}