/*? ===================== google font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*? ===================== universal css resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: var(--inter);
}

*::selection{
    background-color: #ff6363;
}

/*? ===================== font import */
@font-face {
    font-family: "Miama";
    src: url("../font/Miama.ttf");
}

/*? ===================== css variable define */
:root{

    /* ------------------ color declaration */
    --mandarin-red: #E6533C;
    --white: #ffffff;
    --black: rgb(0, 0, 0);
    --white-op-0-1: rgba(255, 255, 255, 0.1);
    --white-op-0-5: rgba(255, 255, 255, 0.5);
    --white-op-6-5: rgba(255, 255, 255, 0.65);
    --black-out: #222222;
    --plunge-pool: rgba(6, 255, 210, 0.5);
    --red-op: rgba(255, 0, 0, 0.3);
    --black-op: rgba(0, 0, 0, 0.5);
    --black-gray: rgba(34, 34, 34);
    --black-op-5-4: rgba(48, 48, 48, 0.54);
    --light-green-op: rgba(66, 255, 0, 0.3);
    --blue-op: rgba(0, 71, 255, 0.3);

    /* ------------------ font family define */
    --inter: "Inter", sans-serif;
    --miama: "Miama";

    /* ------------------ font size define */
    --ft-13px: 0.8125rem;
    --ft-14px: 0.876rem;
    --ft-16px: 1rem;
    --ft-18px: 1.125rem;
    --ft-20px: 1.25rem;
    --ft-23px: 1.4375rem;
    --ft-24px: 1.5rem;
    --ft-28px: 1.75rem;
    --ft-32px: 2rem;
    --ft-36px: 2.25rem;
    --ft-40px: 2.5rem;
    --ft-48px: 3rem;
    --ft-70px: 4.375rem;
    --ft-78px: 4.875rem;
    --ft-160px: 10rem;

    /* ------------------ font weight define */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;

    /* ------------------ line height define */
    --lh-1px: 1px;
    --lh-17px: 17px;
    --lh-18px: 18px;
    --lh-20px: 20px;
    --lh-22px: 22px;
    --lh-24px: 24px;
    --lh-40px: 40px;
    --lh-pre-120: 120%;

    /* ------------------ letter spacing define */
    --ls-0-3px: 0.3px;
    --ls-0-5px: 0.5px;
    --ls-1px: 1px;

    /* ------------------ border radius define */
    --bor-ra-8px: 8px;
    --bor-ra-12px: 12px;
    --bor-ra-18px: 18px;
    --bor-ra-39px: 39px;
    --bor-ra-42px: 42px;
    --bor-ra-46px: 46px;
    --round: 50%;
    
    /* ------------------ border define */
    --bor-1px-op: 1px solid rgba(255, 255, 255, 0.1);
    --bor-2px-op: 2px solid rgba(255, 255, 255, 0.1);
    --bor-3px-op: 3px solid rgba(255, 255, 255, 0.1);
    --bor-1px-wt: 1px solid rgb(255, 255, 255);

    /* ------------------ back-drop filter define */
    --blur-20px: 20px;

}

/*? ===================== css reusable class */
.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    font-size: var(--ft-18px);
    font-weight: var(--fw-600);
    line-height: var(--lh-22px);
    color: var(--white);
}


.btn-primary{
    width: 224px;
    padding: 16px 40px;
    border-radius: var(--bor-ra-42px);
    border: 1px solid var(--mandarin-red);
    background-color: var(--mandarin-red);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-primary:hover{
    background: none;
    color: var(--mandarin-red);
}

.btn-secondary{
    width: 224px;
    padding: 16px 40px;
    border: 1px solid var(--white);
    border-radius: var(--bor-ra-42px);
    background: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover{
    background-color: var(--white);
    color: var(--black);
}

.section-text{
    font-size: var(--ft-48px);
    font-weight: var(--fw-900);
    line-height: var(--lh-pre-120);
    color: var(--white);
    margin-bottom: 14px;
}

.section-para{
    font-size: var(--ft-14px);
    font-weight: var(--fw-400);
    line-height: var(--lh-24px);
    letter-spacing: var(--ls-0-3px);
    color: var(--white-op-0-5);
}

/*? ===================== header  */
#header{
    width: 100%;
    min-height: 20vh;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgb(34, 34, 34), rgb(10, 10, 10));
}

.header-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 57px;
}

.header-content .logo{
    font-size: var(--ft-36px);
    font-weight: var(--fw-800);
    font-style: italic;
    color: var(--mandarin-red);
    text-transform: capitalize;
}

.header-content .navbar .nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 47px;
    border: var(--bor-1px-op);
    border-radius: var(--bor-ra-39px);
    padding: 4px;
}

.header-content .navbar .nav-items .nav-list{
    font-size: var(--ft-18px);
    font-weight: var(--fw-600);
    line-height: var(--lh-22px);
    text-transform: capitalize;
}

.header-content .navbar .nav-items .nav-list .nav-link{
    display: inline-block;
    padding: 8px 20px;
    color: var(--white);
    border-radius: var(--bor-ra-46px);
    transition: background-color 0.2s ease;
}

.header-content .navbar .nav-items .nav-list .nav-link.active{
    background-color: var(--mandarin-red);
}

.header-content .navbar .nav-items .nav-list .nav-link:hover{
    background-color: var(--mandarin-red);
}

.header-content .mobile-menu{
    display: none;
}

.header-content .mobile-menu .mobile-icon{
    font-size: var(--ft-28px);
    color: var(--white);
}

.home-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.home-content .home-details-bx .home-details{
    width: 520px;
}

.home-content .home-details-bx .home-details .home-tx{
    font-size: var(--ft-78px);
    font-weight: var(--fw-900);
    line-height: var(--lh-pre-120);
    color: var(--white);
    margin-bottom: 28px;
}

.home-content .home-details-bx .home-details .home-tx .cursive{
    font-family: var(--miama);
    font-size: var(--ft-160px);
    font-weight: var(--fw-400);
}

.home-content .home-details-bx .home-details .home-para{
    font-size: var(--ft-16px);
    font-weight: var(--fw-400);
    line-height: var(--lh-24px);
    letter-spacing: var(--ls-0-5px);
    margin-bottom: 28px;
    color: var(--white-op-0-5);
}

.home-content .home-details-bx .btn-bx{
    display: flex;
    gap: 14px;
}

.home-content .home-img-bx{
    width: 480px;
    height: 100%;
    margin-top: 32px;
    position: relative;
}

.home-content .home-img-bx .img-bx{
    width: 100%;
    height: 808px;
    overflow: hidden;
}

.home-content .home-img-bx .img-bx .img{
    width: 100%;
    height: 100%;
}

.home-content .home-img-bx .card-bx-1{
    width: 193px;
    height: 98px;
    background-color: var(--white-op-0-1);
    border-radius: var(--bor-ra-12px);
    border: var(--bor-1px-op);
    backdrop-filter: var(--blur-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 26%;
    right: -5%;
}

.home-content .home-img-bx .card-bx-1 .text-bx-1 .text-1{
    font-size: var(--ft-40px);
    font-weight: var(--fw-900);
    line-height: var(--lh-40px);
    letter-spacing: var(--ls-1px);
    color: var(--white);
    margin-bottom: 5px;
}

.home-content .home-img-bx .card-bx-1 .text-bx-1 .para-1{
    font-size: var(--ft-13px);
    font-weight: var(--fw-400);
    line-height: var(--lh-20px);
    letter-spacing: var(--ls-1px);
    color: var(--white-op-6-5);
}

.home-content .home-img-bx .card-bx-2{
    width: 206px;
    height: 96px;
    background-color: var(--black-op-5-4);
    border: var(--bor-1px-op);
    border-radius: var(--bor-ra-12px);
    backdrop-filter: var(--blur-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: absolute;
    bottom: 11%;
    left: -16%;
}

.home-content .home-img-bx .card-bx-2 .icon-bx{
    width: 40px;
    height: 40px;
    background-color: var(--mandarin-red);
    border-radius: var(--round);
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content .home-img-bx .card-bx-2 .icon-bx .play-icon{
    font-size: var(--ft-24px);
    color: var(--white);
}

.home-content .home-img-bx .card-bx-2 .text-bx-2 .text-2{
    font-size: var(--ft-24px);
    font-weight: var(--fw-900);
    line-height: var(--lh-24px);
    letter-spacing: var(--ls-0-3px);
    margin-bottom: 8px;
    color: var(--white);
}

.home-content .home-img-bx .card-bx-2 .text-bx-2 .para-2{
    font-size: var(--ft-16px);
    font-weight: var(--fw-400);
    line-height: var(--lh-24px);
    letter-spacing: var(--ls-0-5px);
    color: var(--white-op-6-5);
}

/*? ===================== main  */
#main{
    width: 100%;
    background-color: var(--black);
}

/* ====================== habit section */
.habit-section{
    width: 100%;
    min-height: 20vh;
}

.section-heading-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-heading-content .section-bx{
    width: 670px;
    text-align: center;
    margin-top: 100px;
}

.habit-card-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    margin: 58px;

}

.habit-card-container .card-bx{
    width: 280px;
    height: 274px;
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: column;
}

.habit-card-container .card-bx .img-bx{
    border: var(--bor-2px-op);
    border-radius: var(--round);
    overflow: hidden;
}

.habit-card-container .card-bx .card-details-bx{
    width: 231px;
    text-align: center;
}

.habit-card-container .card-bx .card-details-bx .card-tx{
    font-size: var(--ft-18px);
    font-weight: var(--fw-600);
    color: var(--white);
    margin-bottom: 6px;
}

.habit-card-container .card-bx .card-details-bx .card-para{
    font-size: var(--ft-14px);
    font-weight: var(--fw-400);
    line-height: var(--lh-18px);
    letter-spacing: var(--ls-0-3px);
    color: var(--white-op-0-5);
}
/* ====================== habit section */

/* ====================== run extra section */
.run-extra-section{
    width: 100%;
    min-height: 20vh;
}

.run-extra-content{
    width: 100%;
    background-color: var(--black-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin: 100px;
    padding: 30px;
    border-radius: var(--bor-ra-18px);
}

.run-extra-content .run-extra-details-bx{
    max-width: 443px;
    width: 100%;
    margin-left: 24px;
}

.run-extra-content .run-extra-details-bx .run-extra-tx{
    font-size: var(--ft-48px);
    font-weight: var(--fw-900);
    line-height: var(--lh-pre-120);
    color: var(--white);
    margin-bottom: 14px;
}

.run-extra-content .run-extra-details-bx .run-extra-para{
    font-size: var(--ft-14px);
    font-weight: var(--fw-400);
    line-height: var(--lh-24px);
    letter-spacing: var(--ls-0-3px);
    color: var(--white-op-0-5);
    margin-bottom: 34px;
}

.run-extra-content .run-extra-img{
    max-width: 100%;
    width: 366px;
    height: 312px;
    background-image: url("../assets/run-img/run.jpg");
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position-x: 69%;
    background-position-y: 30%;
    border-radius: var(--bor-ra-18px);
    overflow: hidden;
}

/* ====================== run extra section */

/*? ===================== footer  */